<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="shijraEntities" connectionString="metadata=res://*/Model.Shijra.csdl|res://*/Model.Shijra.ssdl|res://*/Model.Shijra.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;database=shijra&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>