body {
    /* background-color: #282c34;
    color: white;
    padding: 40px; */
    font-family: Arial;
    /* text-align: center; */
  }

  .leafNodeBase {
    cursor: hand !important;
    background-color: pink !important;
  }