.col {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.listItem {
    background-color: #3f4449;
    text-align: center; 
    padding: 10px;
    color: rgba(255,255,255,.8);
    cursor: pointer;
}

.alternateListItem {
    background-color: #353a3f;
}

.nodeBase, .leafNodeBase {
    stroke: none !important;
    /* cursor: grab; */ 
    fill: transparent  !important;
}

.nodeContainer {
    height: 73px; 
    width: 228px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    border-radius: 19px;
    border: 2px solid black;
    position: absolute;
    top: 22px;
}

.node {
    position: absolute; 
    width: 22px; 
    height: 22px; 
    border-radius: 0px; 
    font-size: 14px; 
    font-weight: bold;
    z-index: 1000;
    background-color: lightblue; 
    color: black;
    border: 1px solid; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 11px;
}

.root {
    left: 101px;
    top: -24px; 
    background-color: darkseagreen;
}

.nonroot {
    left: 101px;
    top: 71px
}

.leaf {
    background-color: darkseagreen;
}

.searchContainer {
    padding: 10px;
    background-color: #3f4449;
}

.searchContainer input {
    width: 100%;
    border-radius: 5px;
}